@{
    ViewBag.Title = "Войти";
    Layout = null;
}
@model Podelka.Models.LoginModel
<!doctype html>
<html>
<head>
    <meta charset="windows-1251">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поделка.by | Уникальный каталог изделий ручной работы</title>
    <link rel="stylesheet" href="~/Content/css/login.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/jqueryMin_main")
    @Scripts.Render("~/bundles/jqueryValidate")
</head>
<body>
    <div id="bg">
        <img src="~/Content/img/registr.jpg" alt="">
    </div>
    <div class="container" id="container">
        <h3>Добро пожаловать!</h3>
        <div id="regForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @*<label for="state">State:</label>
                <input type="text" name="state" id="state" list="state_list">
                <datalist id="state_list">
                    <option>Витебск</option>
                    <option>Могилев</option>
                    <option>Гомель</option>
                    <option>Брест</option>
                    <option>Гродно</option>
                    <option>Минск</option>
                </datalist>*@
                @Html.AntiForgeryToken()
                <p class="input-data">Введите данные для авторизации:</p>
                @Html.ValidationSummary(true, String.Empty, new { @class = "text-danger" })
                <div class="block-input">
                    <div class="block-icon">
                        <i class="fa fa-ml fa-envelope"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Email, new { type="email", id = "mail", placeholder = Html.DisplayNameFor(m => m.Email) })
                    @Html.ValidationMessageFor(m => m.Email, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="block-input">
                    <div class="block-icon">
                        <i class="fa fa-lg fa-lock"></i>
                    </div>
                    @Html.PasswordFor(m => m.Password, new { id = "password", placeholder = Html.DisplayNameFor(m => m.Password) })
                    @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="remCheck">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "textCheck" })
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                @Html.ActionLink("Забыли пароль?", "ForgotPassword")<br />
                <input type="submit" name="login" value="Войти"><br />
                <p class="hrText"><span>Новый пользователь?</span></p>
            }
            @Html.ActionLink("Зарегистрироваться", "Register", null, new { id = "reg" })
        </div>
        <p class="sub">* передаваемая вами информация служит только для авторизации,<br />либо для обратной связи с вами.
    </div>
</body>
</html>