@{
    ViewBag.Title = "Добавление фотографии в профиль";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Podelka.Models.UploadImageModel
@using Podelka.Core.Source
@*@Html.HiddenFor(model => model.X)
@Html.HiddenFor(model => model.Y)
@Html.HiddenFor(model => model.Width)
@Html.HiddenFor(model => model.Height)*@
<div id="avatar-upload-box">
    @using (Ajax.BeginForm("_Upload", "Account", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "avatar-upload-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, String.Empty, new { @class = "text-danger" })
        @Html.LabelFor(model => model.File)
        @Html.FileFor(model => model.File)//@Html.File("Image")
        @Html.ValidationMessageFor(model => model.File, String.Empty, new { @class = "text-danger" })
        @*<input type="file" name="files" /><br>*@
        <div class="upload-file-notice">Максимальный размер: <span id="avatar-max-size"></span> MB</div>

        <div class="upload-progress hidden">
            <div class="upload-percent-value">0%</div>
            <div class="upload-percent-bar"></div>
        </div>
        <div id="upload-status"></div>
    }
</div>
<div id="avatar-crop-box" class="hidden">
    <div class="jc-demo-box">
        <div class="col-md-12">
            <img src="@Url.Content(" ")" id="crop-avatar-target" alt="Uploaded image" />
            <div id="preview-pane">
                <div class="preview-container">
                    <img src="@Url.Content(" ")" class="jcrop-preview" alt="Preview" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-default" onclick="saveAvatar()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div id="avatar-result" class="hidden">
    <img src="@Url.Content(" ")" alt="Final Image" />
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")" type="text/javascript"></script>
    <script>
        var jcrop_api, boundx, boundy, xsize, ysize;
        $(function ()
        {
            if (typeof $('#avatar-upload-form') !== undefined)
            {
                var maxSizeAllowed = 10;// ToDo - Change upload limit in MB
                initAvatarUpload();
                $('#avatar-max-size').html(maxSizeAllowed);
                $("#avatar-upload-form input:file").on("change", function (e)
                {
                    var files = e.currentTarget.files;
                    for (var x in files)
                    {
                        if (files[x].name != "item" && typeof files[x].name != "undefined")
                        {
                            if (files[x].size <= maxSizeAllowed * 1024 * 1024)
                            {
                                // ToDo - change the size limit of the file. You may need to change web.config if larger files are necessary.
                                // Submit the selected file
                                $('#avatar-upload-form .upload-file-notice').removeClass('bg-danger');
                                $('#avatar-upload-form').submit();
                            }
                            else
                            {
                                // File too large
                                $('#avatar-upload-form .upload-file-notice').addClass('bg-danger');
                            }
                        }
                    }
                });
            }
        });

        function initAvatarUpload()
        {
            $('#avatar-upload-form').ajaxForm(
            {
                beforeSend: function ()
                {
                    updateProgress(0);
                    $('#avatar-upload-form').addClass('hidden');
                },
                uploadProgress: function (event, position, total, percentComplete)
                {
                    updateProgress(percentComplete);
                },
                success: function (data)
                {
                    updateProgress(100);
                    if (data.success === false)
                    {
                        $('#status').html(data.errorMessage);
                    }
                    else
                    {
                        $('#preview-pane .preview-container img').attr('src', data.fileName);
                        var img = $('#crop-avatar-target');
                        img.attr('src', data.fileName);
                        $('#avatar-upload-box').addClass('hidden');// ToDo - Remove if you want to keep the upload box
                        $('#avatar-crop-box').removeClass('hidden');
                        initAvatarCrop(img);
                    }
                },
                complete: function (xhr)
                {
                }
            });
        }

        function updateProgress(percentComplete)
        {
            $('.upload-percent-bar').width(percentComplete + '%');
            $('.upload-percent-value').html(percentComplete + '%');
            if (percentComplete === 0)
            {
                $('#upload-status').empty();
                $('.upload-progress').removeClass('hidden');
            }
        }

        function initAvatarCrop(img)
        {
            img.Jcrop(
            {
                onChange: updatePreviewPane,
                onSelect: updatePreviewPane,
                aspectRatio: xsize / ysize
            }, function ()
            {
                var bounds = this.getBounds();
                boundx = bounds[0];
                boundy = bounds[1];
                jcrop_api = this;
                jcrop_api.animateTo([0, 0, 500, 500]);
                jcrop_api.setOptions({ allowSelect: true });
                jcrop_api.setOptions({ allowMove: true });
                jcrop_api.setOptions({ allowResize: true });
                jcrop_api.setOptions({ aspectRatio: 1 });
                var pcnt = $('#preview-pane .preview-container');
                xsize = pcnt.width();
                ysize = pcnt.height();
                $('#preview-pane').appendTo(jcrop_api.ui.holder);
                jcrop_api.focus();
            });
        }

        function updatePreviewPane(c)
        {
            if (parseInt(c.w) > 0)
            {
                var rx = xsize / c.w;
                var ry = ysize / c.h;
                $('#preview-pane .preview-container img').css(
                {
                    width: Math.round(rx * boundx) + 'px',
                    height: Math.round(ry * boundy) + 'px',
                    marginLeft: '-' + Math.round(rx * c.x) + 'px',
                    marginTop: '-' + Math.round(ry * c.y) + 'px'
                });
            }
        }

        function saveAvatar()
        {
            var img = $('#preview-pane .preview-container img');
            $('#avatar-crop-box button').addClass('disabled');
            $.ajax(
            {
                type: "POST",
                url: "/Account/Save",
                traditional: true,
                data:
                {
                    w: img.css('width'),
                    h: img.css('height'),
                    l: img.css('marginLeft'),
                    t: img.css('marginTop'),
                    fileName: img.attr('src')
                }
            }).done(function (data)
            {
                if (data.success === true)
                {
                    $('#avatar-result img').attr('src', data.avatarFileLocation);
                    $('#avatar-result').removeClass('hidden');
                    $('#avatar-crop-box').addClass('hidden');// ToDo - Remove if you want to keep the upload box
                    //Перенаправить на страницу пользователя 
                }
                else
                {
                    alert(data.errorMessage)
                }
            }).fail(function (e)
            {
                alert('Cannot upload avatar at this time');
            });
        }
    </script>
}
