@{
    ViewBag.Title = "Регистрация нового пользователя";
    Layout = null;
}
@model Podelka.Models.RegisterModel
<!doctype html>
<html>
<head>
    <meta charset="windows-1251">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поделка.by | Уникальный каталог изделий ручной работы</title>
    <link rel="stylesheet" href="~/Content/css/register.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/jqueryMin_main")@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>*@@*<script src="~/Scripts/main.js" type="text/javascript"></script>*@
    @Scripts.Render("~/bundles/jqueryValidate")
</head>
<body>
    <div id="bg">
        <img src="~/Content/img/registr.jpg" alt="">
    </div>
    <div class="container" id="container">
        <h3>Придётся немного заполнить...</h3>
        <div id="regForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <p class="regText">Введите Ваши настоящие данные:</p>
                @Html.ValidationSummary(true, String.Empty, new { @class = "text-danger" })
                <div class="block-input position-left">
                    <div class="block-icon">
                        <i class="fa fa-lg fa-user"></i>
                    </div>
                    @Html.TextBoxFor(m => m.FirstName, new { @id = "name", placeholder = Html.DisplayNameFor(m => m.FirstName) })
                    @Html.ValidationMessageFor(m => m.FirstName, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="block-input position-right">
                    <div class="block-icon">
                        <i class="fa fa-lg fa-user"></i>
                    </div>
                    @Html.TextBoxFor(m => m.SecondName, new { @id = "lastname", placeholder = Html.DisplayNameFor(m => m.SecondName) })
                    @Html.ValidationMessageFor(m => m.SecondName, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="block-input position-left">
                    <div class="block-icon">
                        <i class="fa fa-ml fa-envelope"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Email, new { @id = "mail", placeholder = Html.DisplayNameFor(m => m.Email) })
                    @Html.ValidationMessageFor(m => m.Email, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="block-input position-right">
                    <div class="block-icon">
                        <i class="fa fa-lg fa-home"></i>
                    </div>
                    @Html.TextBoxFor(m => m.City, new { @id = "city", placeholder = Html.DisplayNameFor(m => m.City) })
                    @Html.ValidationMessageFor(m => m.City, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="block-input position-left">
                    <div class="block-icon">
                        <i class="fa fa-lg fa-unlock-alt"></i>
                    </div>
                    @Html.PasswordFor(m => m.Password, new { @id = "password", placeholder = Html.DisplayNameFor(m => m.Password) })
                    @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="block-input position-right">
                    <div class="block-icon">
                        <i class="fa fa-lg fa-lock"></i>
                    </div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "podpass", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="clearfix"></div>
                <p class="hrText"><span>Дополнительно</span></p>
                <div class="block-input position-left">
                    <div class="block-icon">
                        <i class="fa fa-lg fa-globe"></i>
                    </div>
                    @Html.TextBoxFor(m => m.PersonalWebsite, new { @class = "position-left", type = "url", id = "site", placeholder = Html.DisplayNameFor(m => m.PersonalWebsite) })
                    @Html.ValidationMessageFor(m => m.PersonalWebsite, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="block-input position-right">
                    <div class="block-icon">
                        <i class="fa fa-ml fa-users"></i>
                    </div>
                    @Html.TextBoxFor(m => m.SocialNetwork, new { @class = "position-right", type = "url", id = "social", placeholder = Html.DisplayNameFor(m => m.SocialNetwork) })
                    @Html.ValidationMessageFor(m => m.SocialNetwork, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="block-input position-left">
                    <div class="block-icon">
                        <i class="fa fa-lg fa-skype"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Skype, new { @class = "position-left", id = "skype", placeholder = Html.DisplayNameFor(m => m.Skype) })
                </div>
                <div class="block-input position-right">
                    <div class="block-icon">
                        <i class="fa fa-lg fa-phone"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "position-right", id = "phone", placeholder = Html.DisplayNameFor(m => m.Phone) })
                    @Html.ValidationMessageFor(m => m.Phone, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="clearfix"></div>
                <div class="block-input position-left">
                    @Html.LabelFor(m => m.AgreeRules, new { @class = "position-right" })
                    @*<input class="position-right" data-val="true" data-val-mustbetrue="Требуется поле Я согласен с этими правилами." id="AgreeRules" name="AgreeRules" type="checkbox" value="true" />*@
                    @Html.CheckBoxFor(m => m.AgreeRules, new { @class = "position-right" })
                    @Html.ValidationMessageFor(m => m.AgreeRules, String.Empty, new { @class = "text-danger" })<br />
                </div>
                <div class="block-input position-right">
                    @Html.ActionLink("Прочитайте правила регистрации", "Rules", "Home")
                </div>
                <p class="regAddText"><font color="#fc6060">*</font> дополнительная информация не обязательна.</p>
            <input type="submit" name="buttonCreate" id="buttonCreate" value="Продолжить" style="display:none;"><br />
            }
        </div>
        <p class="sub">* передаваемая вами информация служит только для регистрации,<br />либо для обратной связи с вами.
    </div>
</body>
</html>