@{
    ViewBag.Title = "Создание мастерской";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Podelka.Models.WorkroomCreateModel
<div class="profileView clearfix">
    <div class="center">
        @using (Html.BeginForm("Create", "Workroom", FormMethod.Post, new { @class = "createForm" }))
        {
            <div class="leftSidebar createSidebar createForm">
                <h2>Открытие мастерской</h2>
                <img src="@Url.Content("~/Content/img/shop.png")" alt="" />
                <hr class="dashedHr" />
                @Html.CheckBoxFor(m => m.AgreeRules, new { @class = "agreeRulesLabel", id = "agreeRules" })
                <div class="agreeRulesLabel">Я согласен с @Html.ActionLink("правилами сайта", "Rules", "Home")</div>
                @Html.ValidationMessageFor(m => m.AgreeRules, String.Empty, new { @class = "text-danger" })<br />
                <input type="submit" name="buttonCreate" id="buttonCreate" value="Создать" />
            </div>
            <div class="rightContent createBody">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, String.Empty, new { @class = "text-danger" })
                <img src="@Url.Content("~/Content/img/280x280.gif")" alt="" />
                <div class="formName">
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Название" })
                    @Html.ValidationMessageFor(m => m.Name, String.Empty, new { @class = "text-danger" })<br />
                    @Html.TextAreaFor(m => m.Description, new { placeholder = "Напишите пару слов о вашей деятельности.." })
                    @Html.ValidationMessageFor(m => m.Description, String.Empty, new { @class = "text-danger" })<br />
                </div>
                <div class="s123">
                    @Html.DropDownListFor(m => m.SelectedSection, new SelectList(Model.Sections, "SectionId", "Name"))
                    @Html.ValidationMessageFor(m => m.SelectedSection, String.Empty, new { @class = "text-danger" })<br />
                    <div class="formReg">
                        <label for="regType">Тип регистрации:</label><br />
                        @foreach (var item in Model.RegisterTypes)
                        {
                            @Html.RadioButtonFor(m => m.SelectedRegisterType, item.RegisterTypeId) 
                            @item.Name <br />
                        }
                        @Html.ValidationMessageFor(m => m.SelectedRegisterType, String.Empty, new { @class = "text-danger" })<br />
                    </div>
                    <br />
                    <div class="formPay">
                        <label for="deliver">Способы оплаты:</label><br />
                        @Html.CheckBoxListFor(m => m.SelectedPayGroups, m => m.PayMethods, pay => pay.PayMethodId, pay => pay.Name, pay => pay.IsSelected, MvcCheckBoxList.Model.Position.Vertical)
                        @Html.ValidationMessageFor(m => m.SelectedPayGroups, String.Empty, new { @class = "text-danger" })<br />
                    </div>
                    <br />
                    <div class="formDeliver">
                        <label for="deliver">Способы доставки:</label><br />
                        @Html.CheckBoxListFor(m => m.SelectedDeliveryGroups, m => m.DeliveryMethods, delivery => delivery.DeliveryMethodId, delivery => delivery.Name, delivery => delivery.IsSelected, MvcCheckBoxList.Model.Position.Vertical)
                        @Html.ValidationMessageFor(m => m.SelectedDeliveryGroups, String.Empty, new { @class = "text-danger" })<br />
                    </div>
                    <br />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryValidate")
}