@{
    ViewBag.Title = "Мастерская";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Podelka.Models.WorkroomProfileModel
<div class="profileView clearfix">
    <div class="center">
        <div class="leftSidebar">
            @{
                string mapPath = HttpContext.Current.Server.MapPath("/Files");
                bool isWorkroomImage = File.Exists(@"" + mapPath + "\\Workrooms\\" + @Model.WorkroomId + "-workroom.jpg");
            }
            @if (isWorkroomImage)
            {
                <img class="sbAvater" src="@Url.Content(String.Format("~/Files/Workrooms/{0}-workroom.jpg", Model.WorkroomId))" alt="" />
            }
            else
            {
                <img class="sbAvater" src="@Url.Content("~/Content/img/image-workroom.jpg")" alt="" />
            }
            <span class="sbMakerAfter">Мастерская</span>
            <h3 class="sbName">@Model.Name</h3>
            @Html.Partial("_InfoWorkroomGuest", Model)
        </div>
        <div class="rightContent">
            <div id ="rightMenu" class="rightMenu">
                <ul>
                    @if (ViewBag.Menu == null || ViewBag.Menu == "Products")
                    {
                        <li id="products" class="active">@Ajax.ActionLink("Изделия", "Products", "Workroom", new { id = Model.WorkroomId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = String.Format("active_menu_products({0});", Model.WorkroomId), OnSuccess = "review()" })</li>
                        <li id="reviews">@Ajax.ActionLink("Отзывы", "Reviews", "Workroom", new { id = Model.WorkroomId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = String.Format("active_menu_reviews({0});", Model.WorkroomId) })</li>
                    }
                    else
                    {
                        <li id="products">@Ajax.ActionLink("Изделия", "Products", "Workroom", new { id = Model.WorkroomId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = String.Format("active_menu_products({0});", Model.WorkroomId), OnSuccess = "review()" })</li>
                        <li id="reviews" class="active">@Ajax.ActionLink("Отзывы", "Reviews", "Workroom", new { id = Model.WorkroomId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = String.Format("active_menu_reviews({0});", Model.WorkroomId) })</li>
                    }
                </ul>
                <div class="productViewButton">
                    <img src="@Url.Content("~/Content/img/icon/three-view.png")" alt="" title="Три товара в ряд" id="previewProdThree" />
                    <img src="@Url.Content("~/Content/img/icon/four-view.png")" alt="" title="Четыре товара в ряд" id="previewProdFour" />
                </div>
            </div>
            <div id="rightBody" class="rightBody clearfix">
                @if (ViewBag.Menu == null || ViewBag.Menu == "Products")
                {
                    @Html.Action("Products", "Workroom", new { id = Model.WorkroomId })
                }
                else
                {
                    @Html.Action("Reviews", "Workroom", new { id = Model.WorkroomId })
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/generalFunctionsForProfileUW.js")" type="text/javascript"></script>
}