@{
    ViewBag.Title = "Мастерская";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Podelka.Models.WorkroomProfileModel
    <div class="profileView clearfix">
        <div class="center">
            <div class="leftSidebar">
                <img class="sbAvater" src='~/Content/img/first_workshop.jpg'>
                <span class="sbMakerAfter">Мастерская</span>
                <h3 class="sbName">@Model.Name</h3>
@Html.Partial("_InfoWorkroomGuest", Model)
            </div>
            <div class="rightContent">
                <div class="rightMenu">
                    <ul>
@if (ViewBag.Menu == null || ViewBag.Menu == "Products")
{
                        <li class="active">@Html.ActionLink("Изделия", "Profile", "Workroom", new { id = Model.WorkroomId, menu = "Products" }, null)</li>
}
else
{
                        <li>@Html.ActionLink("Изделия", "Profile", "Workroom", new { id = Model.WorkroomId, menu = "Products" }, null)</li>
}
@if (ViewBag.Menu == "Reviews")
{
                        <li class="active">@Html.ActionLink("Отзывы", "Profile", "Workroom", new { id = Model.WorkroomId, menu = "Reviews" }, null)</li>
}
else
{
                        <li>@Html.ActionLink("Отзывы", "Profile", "Workroom", new { id = Model.WorkroomId, menu = "Reviews" }, null)</li>
}
                    </ul>
                </div>
                <div class="rightBody">
@if (ViewBag.Menu == null || ViewBag.Menu == "Products")
{
                    @Html.Action("Products", "Workroom", new { id = Model.WorkroomId })
}
@if (ViewBag.Menu == "Reviews")
{
                    @Html.Action("Reviews", "Workroom", new { id = Model.WorkroomId })
}
                </div>
            </div>
        </div>
    </div>