@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Podelka.Models.UserProfileModel
    <div class="profileView clearfix">
        <div class="center">
            <div class="leftSidebar">
@{
    string mapPath = HttpContext.Current.Server.MapPath("/Files");
    bool isUserImage = File.Exists(@"" + mapPath + "\\Users\\" + @Model.UserId + "-avatar.jpg");
}
                @if (isUserImage)
                {
                <img class="sbAvater" src='~/Files/Users/@Model.UserId-avatar.jpg'>
                }
                else
                {
                <img class="sbAvater" src='~/Content/img/user-avatar.jpg'>
                }
                <h3 class="sbName">@Model.FirstName @Model.SecondName</h3>
@Html.Partial("_ContactsUserGuest", Model)
            </div>
            <div class="rightContent">
                <div id="rightMenu" class="rightMenu">
                    <ul>
                        @if (ViewBag.Menu == null || ViewBag.Menu == "Workrooms")
                        {
                        <li id="workrooms" class="active">@Ajax.ActionLink("Мастерские", "Workrooms", "User", new { id = Model.UserId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = string.Format("active_menu_workrooms({0});", Model.UserId) })</li>
                        <li id="adverts">@Ajax.ActionLink("Заказы", "Adverts", "User", new { id = Model.UserId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = string.Format("active_menu_adverts({0});", Model.UserId) })</li>
                        }
                        else
                        {
                        <li id="workrooms">@Ajax.ActionLink("Мастерские", "Workrooms", "User", new { id = Model.UserId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = string.Format("active_menu_workrooms({0});", Model.UserId) })</li>
                        <li id="adverts" class="active">@Ajax.ActionLink("Заказы", "Adverts", "User", new { id = Model.UserId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = string.Format("active_menu_adverts({0});", Model.UserId) })</li>
                        }
                    </ul>
                </div>
                <div id="rightBody" class="rightBody">
                    @if (ViewBag.Menu == null || ViewBag.Menu == "Workrooms")
                    {
                        @Html.Action("Workrooms", "User", new { id = Model.UserId })
                    }
                    else
                    {
                        @Html.Action("Adverts", "User")
                    }
                </div>
            </div>
        </div>
    </div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"> </script>
    <script>
        function active_menu_workrooms(UserId)
        {
            $('#rightMenu li').removeClass('active');
            $('#workrooms').addClass('active');
            window.history.pushState(
            null, // any object, that can be retrieved
            'Мастерские пользователя', // new page title
            '/User/Profile/' + UserId + '/Workrooms' // new url
            );
        };
        function active_menu_adverts(UserId)
        {
            $('#rightMenu li').removeClass('active');
            $('#adverts').addClass('active');
            window.history.pushState(
            null, // any object, that can be retrieved
            'Заказы пользователя', // new page title
            '/User/Profile/' + UserId + '/Adverts' // new url
            );
        };
    </script>
}