@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Podelka.Models.UserProfileModel
<div class="profileView clearfix">   
    <div class="center">
        <div class="leftSidebar">
            <img class="sbAvater" src='~/Content/img/avatar.jpeg'>
            <h3 class="sbName">@Model.FirstName @Model.SecondName</h3>           
            @Html.Partial("_ContactsUserGuest", Model)           
        </div>
        <div class="rightContent">
            <div class="rightMenu">
                <ul>
                    @* УЧАСТОК КОДА, ЧТОБЫ ПРИСВАИВАТЬ li class="active", если на этот пункт горизонтального меню нажали *@
                    @if (ViewBag.Menu == null || ViewBag.Menu == "Workrooms")
                    {
                        <li class="active">@Html.ActionLink("Мастерские", "Profile", "User", new { id = Model.UserId, menu = "Workrooms" }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Мастерские", "Profile", "User", new { id = Model.UserId, menu = "Workrooms" }, null)</li>
                    }
                    @if (ViewBag.Menu == "Adverts")
                    {
                        <li class="active">@Html.ActionLink("Заказы", "Profile", "User", new { id = Model.UserId, menu = "Adverts" }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Заказы", "Profile", "User", new { id = Model.UserId, menu = "Adverts" }, null)</li>
                    }
                    @* END *@
                </ul>
            </div>
            <div class="rightBody">
                @if (ViewBag.Menu == null || ViewBag.Menu == "Workrooms")
                {
                    @Html.Action("Workrooms", "User", new { id = Model.UserId })
                }
                @if (ViewBag.Menu == "Adverts")
                {
                    @Html.Action("Adverts", "User")
                }
            </div>
        </div>
    </div>
</div>