@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Podelka.Models.UserProfileModel
<div class="profileView clearfix">
    <div class="center">
        <div class="leftSidebar">
            <img class="sbAvater" src="@Url.Content("" + @Model.ProfileImage + "")" alt="" />
            <h3 class="sbName">@Model.FirstName @Model.SecondName</h3>
            @Html.Partial("_ContactsUserGuest", Model)
        </div>
        <div class="rightContent">
            <div id="rightMenu" class="rightMenu">
                <ul>
                    @if (ViewBag.Menu == null || ViewBag.Menu == "Workrooms")
                    {
                        <li id="workrooms" class="active">@Ajax.ActionLink("Мастерские", "Workrooms", "User", new { id = Model.UserId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = String.Format("active_menu_workrooms({0});", Model.UserId) })</li>
                        <li id="adverts">@Ajax.ActionLink("Заказы", "Adverts", "User", new { id = Model.UserId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = String.Format("active_menu_adverts({0});", Model.UserId) })</li>
                    }
                    else
                    {
                        <li id="workrooms">@Ajax.ActionLink("Мастерские", "Workrooms", "User", new { id = Model.UserId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = String.Format("active_menu_workrooms({0});", Model.UserId) })</li>
                        <li id="adverts" class="active">@Ajax.ActionLink("Заказы", "Adverts", "User", new { id = Model.UserId }, new AjaxOptions { UpdateTargetId = "rightBody", OnBegin = String.Format("active_menu_adverts({0});", Model.UserId) })</li>
                    }
                </ul>
            </div>
            <div id="rightBody" class="rightBody clearfix">
                @if (ViewBag.Menu == null || ViewBag.Menu == "Workrooms")
                {
                    @Html.Action("Workrooms", "User", new { id = Model.UserId })
                }
                else
                {
                    @Html.Action("Adverts", "User")
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/generalFunctionsForProfileUW.js")" type="text/javascript"></script>
}