@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@model Podelka.Models.UserProfileModel

<div class="profileView clearfix">   
    <div class="center">
        <div class="leftSidebar">
            <img class="sbAvater" src='~/Content/img/avatar.jpeg'>
            <h3 class="sbName">@Model.FirstName @Model.SecondName</h3>           
            @if(Model.City != null)
            {
                <p class="sbCity"><img src="~/Content/img/map.png">@Model.City</p>
            }
            @if(Model.Phone != null || Model.PersonalWebsite != null || Model.SocialNetwork != null || Model.Skype != null)
            {
                <p class="hrText"><span>Контакты</span></p>
                if (Model.Phone != null)
                {
                    <div class="sbPhone">@Model.Phone</div> @*<p class="sbPhone">+375 29 666-55-44<br />+375 44 222-22-21<br />+375 33 654-98-98</p>*@
                }
                if (Model.PersonalWebsite != null)
                {
                    <div class="sbSite"><img src="~/Content/img/icon/site.png"><a href="http://@Model.PersonalWebsite">@Model.PersonalWebsite</a></div>
                }
                if (Model.SocialNetwork != null)
                {
                    <div class="sbSocial"><img src="~/Content/img/icon/social.png"><a href="http://@Model.SocialNetwork">@Model.SocialNetwork</a></div>
                }
                if (Model.Skype != null)
                {
                    <div class="sbSkype"><img src="~/Content/img/icon/skype.png"><a href="skype:@Model.Skype?call">@Model.Skype</a></div>
                }
            }                               
            <hr class="dashedHr" />
            <div class="profileButton clearfix">
                <div class="mailSquare"><div class="imageSquare"></div></div>
                <a class="mailMakers" href="mailto:@Model.Email">Написать письмо</a>
            </div>
        </div>
        <div class="rightContent">
            <div class="rightMenu">
                <ul>
                    <li class="active"><a href="#">Мастерские</a></li>
                    <li><a href="#">Заказы</a></li>
                </ul>
            </div>
            <div class="rightBody">
                @Html.Action("Workrooms", "User", new { id = Model.UserId } )
            </div>
        </div>
    </div>
</div>