@{
    ViewBag.Title = "Продукт";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Podelka.Models.ProductProfileModel
@section MetaKeywords
{
    <meta name="keywords" content="@Model.KeyWords">
}
<div class="profileView clearfix">
    <div class="center">
        <div class="leftSidebar">
            @{
                string mapPath = HttpContext.Current.Server.MapPath("/Files");
                bool isWorkroomImage = File.Exists(@"" + mapPath + "\\Workrooms\\" + @Model.WorkroomId + "-workroom.jpg");
            }
            @if (isWorkroomImage)
            {
                <img class="sbAvater" src="@Url.Content(String.Format("~/Files/Workrooms/{0}-workroom.jpg", Model.WorkroomId))" alt="" />
            }
            else
            {
                <img class="sbAvater" src="@Url.Content("~/Content/img/image-workroom.jpg")" alt="" />
            }
            <span class="sbMakerAfter">Мастерская</span>
            <h3 class="sbName">@Html.ActionLink("" + Model.Workroom.Name + "", "Profile", "Workroom", new { id = Model.WorkroomId }, null)</h3>
            @Html.Partial("_InfoWorkroomGuest", Model.Workroom)
        </div>
        <div class="rightContent productBody clearfix">
            <div class="productContent">
                <span class="breadcrumbs">@Html.ActionLink(Model.SectionName, "Section", "Product", new { id = Model.SectionId }, null) / @Model.CategoryName / @Model.Name</span>
                <h1>@Model.Name</h1>
                <div class="productInfo">
                    <img src="@Url.Content("~/Content/img/500x350.gif")" alt="" />
                    <div class="productText">
                        @if (Model.Price != null)
                        {
                            var reg = new System.Text.RegularExpressions.Regex(@"(\d)(?=(\d\d\d)+(^\d|$))");
                            string priceReal = Model.Price.ToString();
                            string priceMod = reg.Replace(priceReal, "$1 ");
                            <strong>Цена:</strong> @priceMod @:руб<br />
                            @*double Price = (double)Model.Price;
                            <strong>Цена:</strong> @Price.ToString("N0", System.Globalization.CultureInfo.CurrentCulture) @:руб<br />*@
                        }
                        <strong>Состояние:</strong> @Model.StatusReady<br />
                        @if (Model.Gender != null)
                        {
                            <strong>Пол:</strong> @Model.Gender
                        }
                        <hr class="dashedHr" />
                        <div class="productDescript">
                            @Model.Description
                        </div>
                        <hr class="dashedHr" />
                        <strong>Материалы:</strong> @Model.Materials<br />
                        @if (Model.Size != null)
                        {
                            <strong>Размеры:</strong> @Model.Size @:см<br />
                        }
                        @if(Model.Weight != null)
                        {
                            <strong>Масса:</strong> @Model.Weight @:г<br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>