@{
    ViewBag.Title = "Продукт";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@model Podelka.Models.ProductProfileModel

<div class="profileView clearfix">
    <div class="center">

        <div class="leftSidebar">
            <img class="sbAvater" src='~/Content/img/first_workshop.jpg'>
            <span class="sbMakerAfter"> @Html.ActionLink("Мастерская", "Profile", "Workroom", new { id = Model.WorkroomId }, null) </span>
            @*<span class="sbMakerAfter">Мастерская</span>*@

            <h3 class="sbName">@Html.ActionLink("" + Model.Workroom.Name + "", "Profile", "Workroom", new { id = Model.WorkroomId }, null)</h3>
            @*<h3 class="sbName">"@Model.Workroom.Name"</h3>*@

            <div class="rating">
                <div class="ratingUp"></div><span class="up">@Model.Workroom.CountGood</span>
                <div class="ratingMiddle"></div><span class="middle">@Model.Workroom.CountMedium</span>
                <div class="ratingDown"></div><span class="down">@Model.Workroom.CountBad</span>
            </div>

            <p class="sbAnotation">@Model.Workroom.Description</p>

            <span class="sbMakerAfter"> @Html.ActionLink("Владелец мастерской", "Profile", "User", new { id = Model.Workroom.UserId }, null) </span>
            @*<span class="sbMakerAfter">Владелец мастерской</span>*@

            <h4 class="sbMaker"> @Html.ActionLink(Model.Workroom.User.FirstName + " " + Model.Workroom.User.SecondName, "Profile", "User", new { id = Model.Workroom.UserId }, null) </h4>
            @*<h4 class="sbMaker">@Model.Workroom.User.FirstName @Model.Workroom.User.SecondName</h4>*@

            @if (Model.Workroom.User.City != null)
            {
                <p class="sbCity"><img src="~/Content/img/map.png">@Model.Workroom.User.City</p>
            }

            @if (Model.Workroom.User.Phone != null || Model.Workroom.User.PersonalWebsite != null || Model.Workroom.User.SocialNetwork != null || Model.Workroom.User.Skype != null)
            {
                <p class="hrText"><span>Контакты</span></p>

                if (Model.Workroom.User.Phone != null)
                {
                    <p class="sbPhone">@Model.Workroom.User.Phone</p> @*<p class="sbPhone">+375 29 666-55-44<br />+375 44 222-22-21<br />+375 33 654-98-98</p>*@
                }
                if (Model.Workroom.User.PersonalWebsite != null)
                {
                    <p class="sbSite"><img src="~/Content/img/icon/site.png">@Model.Workroom.User.PersonalWebsite</p>
                }
                if (Model.Workroom.User.SocialNetwork != null)
                {
                    <p class="sbSocial"><img src="~/Content/img/icon/social.png">@Model.Workroom.User.SocialNetwork</p>
                }
                if (Model.Workroom.User.Skype != null)
                {
                    <p class="sbSkype"><img src="~/Content/img/icon/skype.png"><a href="skype:@Model.Workroom.User.Skype?call">@Model.Workroom.User.Skype</a></p>
                }
            }
            <hr class="dashedHr" />

            <div class="profileButton  clearfix">
                <div class="mailSquare"><div class="imageSquare"></div></div>
                <a class="mailMakers" href="mailto:@Model.Workroom.User.Email">Написать письмо</a>
            </div>
        </div>

        <div class="rightContent productBody clearfix">
            <div class="productContent">
                <span class="breadcrumbs">Главная / Подарки / Игрушки / Кот-муркот</span>
                <h1>@Model.Name</h1>
                <div class="productInfo">
                    <img src="~/Content/img/500x350.gif">
                    <div class="productText">
                        <strong>Цена:</strong> @Model.Price бел.руб<br />
                        <strong>Состояние:</strong> @Model.StatusReady

                        <hr class="dashedHr" />

                        <div class="productDescript">
                            @Model.Description
                        </div>

                        <hr class="dashedHr" />

                        <strong>Материалы:</strong> @Model.Material<br />
                        <strong>Габариты:</strong> @Model.Size см<br />
                        <strong>Вес:</strong> @Model.Weight г<br />

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>