        <div class="menuLevel third">
            <div class="center">
                <ul>
                    <li class="clothing">@Html.ActionLink("Одежда", "Category", "Product", new { categoryId = 1 }, null)</li>
                    <li class="jewelry">@Html.ActionLink("Украшения", "Category", "Product", new { categoryId = 2 }, null)</li>
                    <li class="accessory">@Html.ActionLink("Аксессуары", "Category", "Product", new { categoryId = 3 }, null)</li>
                    <li class="gift">@Html.ActionLink("На подарок", "Category", "Product", new { categoryId = 4 }, null)</li>
                    <li class="child">@Html.ActionLink("Для детей", "Category", "Product", new { categoryId = 5 }, null)</li>
                    <li class="house">@Html.ActionLink("Для дома", "Category", "Product", new { categoryId = 6 }, null)</li>
                    <li class="pets">@Html.ActionLink("Для животных", "Category", "Product", new { categoryId = 7 }, null)</li>
                    <li class="stationery">@Html.ActionLink("Канцелярские товары", "Category", "Product", new { categoryId = 8 }, null)</li>
                    <li class="care">@Html.ActionLink("Средства по уходу", "Category", "Product", new { categoryId = 9 }, null)</li>
                </ul>
            </div>
        </div>