@model ICollection<Podelka.Models.ProductPreviewModel>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div id="workElement" class="workElement fourElement clearfix">
            <a href="@Url.Action("Profile", "Product", new { id = item.ProductId })">
                @{
                    string mapPath = HttpContext.Current.Server.MapPath("/Files");
                    bool isProductImage = File.Exists(@"" + mapPath + "\\Products\\" + item.ProductId + "-product.profile.jpg");
                }
                @if (isProductImage)
                {
                    <img src="@Url.Content(String.Format("~/Files/Products/{0}-product.profile.jpg", item.ProductId))" alt="" />
                }
                else
                {
                    <img src="@Url.Content("~/Content/img/product.image.jpg")" alt="" />
                }
                <span id="workInfo" class="workInfo fourElement">
                    <h3>@item.Name</h3>
                    @if (item.Price != null)
                    {
                        double Price = (double)item.Price;
                        <p class="workPrice">@Price.ToString("N0", System.Globalization.CultureInfo.CreateSpecificCulture("ru-RU")) руб</p>
                    }
                    else
                    {
                        <p class="workPrice">Цена договорная</p>
                    }
                </span>
                <span class="viewBanner">
                    <i class="fa fa-eye"></i>
                </span>
            </a>
            @*<i class="fa fa-star-o">@Ajax.ActionLink(" ", "Favorite", "Product", new { id = item.ProductId }, new AjaxOptions { }, new { @class = "likeButton" })</i>*@
            <a class="likeButton" data-ajax="true" href="@Url.Action("Favorite", "Product", new { id = item.ProductId })">
                <i class="fa fa-star-o"></i>
            </a>
        </div>
    }
}

